.home .title {
    font-size: 2rem;
    color: blue;
    font-weight: 300;
    text-align: center;
}

.table {
    width: 100%;
    align-items: center;
}

.text {
    font-size: 1.2rem;
    color: blue;
    height: 30px;
}

.mat-card-content {
    margin-top: 30px;
    text-align: center;
}

.contact i,a {
    text-decoration: none;
    color: #f2f2f2;
    transition: .2s;
    background-image: linear-gradient(45deg, blue, black);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
